<div id="about" class="desc" style="margin-left:30%;margin-right:30%;font-size:18px;color:#555;font-size:20px">
<img style="margin-left:30%;height:110px" src="images/deepak.png">
<br/>
Deepak Mani is a Sleep Specialist living in Chennai. 
<Br/>
He is trained in Ayurvedic Acupressure and Counselling and a member of the Art of Living.
<br/>
<Br/>
Having faced chronic insomnia for several years, tried countless treatments, he thanks natural treatments for happily sleeping again. He is a firm believer that taking health in ones own hands is the way to prevent illness.He is also an engineer, and enjoys reading and playing with his dog.  

<Br/>


<br/>
The aim of this clinic is to treat sleeplessness completely.




