<div id="consultation" class="desc" style="margin-left:50px;font-size:20px;color:#555">
	1. Based on your present situation such as health condition, occupation and age we will suggest the right treatment, observe and make changes to improve your sleep step by step.

	<img style="margin-left:10%" src="images/patient_record.png">  

	<br/>
	For instance,
	<br/>
	we will initially focus on treating the liver advising you on how much liquids (ex. 2L) to consume the right (ayurvedic) way as well as how much (ex. 20 min) shakthi mudra to do.

	<br/>
	<br/>

	2. Based on your condition we will recommend taking counseling on:

	<strong>
	<br/> 	
	<a href="https://www.quora.com/How-do-I-cure-anxiety-which-is-causing-insomnia"> 

				Handling Anxiety </a>
	</strong>
	<br/>

	<strong> Understanding your Mother</strong>
	<br/>

	<strong> Building Strong Relationships </strong>
	<br/>

	<br/>
	3. Consultations are done by means of phone and skype. 


	<br/>

		
	<table id="info_table">
		<tr>
			<td> Phone: </td>
			<td> +91 99400 26648
		</tr>
		<tr>
			<td> Email: </td>
			<td> sleepimprovementclinic@gmail.com
		</tr>
		<tr>
			<td> Timings: </td>
			<td> 2PM to 9PM Indian Standard Time </td>
		</tr>
		<tr>
			<td> Fees: </td>
			<td> Contact for details. </td>
		</tr>
	</table>
</div>


	<div style="display:none"> 
		health conditions - Age, weight, hours of sleep, other illnesses  

		</div>
	</div>