<div id="about" class="desc" style="margin-left:50px;font-size:20px;color:#555">
	To cure chronic insomnia you need to know the root cause and start by getting a physical examination.
	<br/>
	Some causes that can be easily detected are: sleep apnea or interrupted breathing, high estrogen levels and hyper tension or very high stress.
	<br/>
	<strong> If you are healthy, but still have chronic insomnia, one of the main reasons for the inability to fall asleep is the abnormal functioning of the liver.  </strong>
	<h4>
	</h4>

	<div class="row">
		<div class="col-md-12">
			<div class="col-md-5">
				<img src="images/liver.jpg" style="width:100%">
			</div>
			<div class="col-md-7" >
				The liver, the largest internal organ in the body has a specific time when it is supposed to be very active. When it is not taken care of, it gradually starts to become active during bedtime hours (9PM–6AM), which prevents you from falling asleep.
				<br/>
				<br/>
				An effective way to treat the liver for this is to increase the amount of saliva in your system by:
				<br/>
				<strong style="text-decoration:underline"> Consuming liquids the right way </strong>
				 <br/>
				 <span style="font-size:20px">
				 	Gently chew your liquids to let saliva mix with it and consume it when it becomes thicker.
				 </span>
				 <br/>
				 <strong style="text-decoration:underline"> Consuming food the right way </strong>
				<span style="font-size:20px">
				 <br/>
				 	Chew your food well until it turns into a paste to allow saliva to mix with it and then consume it.
				  </span>
			</div>
		</div>
		

	</div>
	<br/>
	<div style="padding-right: 4%;">
		The importance of this treatment has been stated in <a href="http://thehealthcoach1.com/?p=4039" target="_"> Ayurveda </a> (Traditional Indian Medicine)
		
		<div style="background:#426f6f; color:#FFF;padding-left: 4%;padding-top: 2%;padding-bottom: 2%">
			When you stick with this treatment, and apply Shakthi mudra for 20 minutes, within weeks you will start falling asleep, staying asleep longer and get back to sleep faster. 
		</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-5">
					<img style="margin-left:10%" src="images/shakthi_mudra.png">
					<br/>
				</div>
				<div class="col-md-7">
					<strong> Shakthi Mudra </strong>
					<br/>
					Mudras are hand gestures that heal different ailments by channeling energy to different parts of the body. Shakthi Mudra immeditely induces sleep and should be done before bedtime. 
					<br/>
					<br/> 

					Fold your thumb and make a fist by wrapping your fingers around it touching your little fingers and ring fingers like so.
					Sit in Vajrasan when doing this and relax for about 15 minutes. This mudra is very powerful and should be used when you really need to sleep.

				</div>
			</div>
		</div>	

				
 </div> <!-- about div -->
