<div id="improving_sleep" class="desc" style="margin-left:50px;font-size:20px;color:#555">
Your body needs 6-8 hours of deep sleep to feel rested and cheerful.
To improve your sleep the first thing to do is treat the liver. After doing this, you can improve your sleep by feeling positive about life, physically tired and relaxed before bedtime.


<div class="row">
	<div class="col-md-12">
		<div class="col-md-5">
       		<img src="images/emotions.jpg" style="width:100%">  
		</div>
		<div class="col-md-7">
			Feeling happy and positive gives you good thoughts and helps you sleep more deeply because you relax faster and your dreams are positive. If you feel anxious you should handle it immediately and here are some effective ways:
			<br/>
			<strong> 1. Breathing </strong>
			<br/>

			Sudrashan Kriya is an effective breathing technique and within 30 minutes it will increase your energy and help you focus on your problem.

			<br/>

			<strong> 2. Positive Reinforcement </strong>
			<br/>
			Struggles are a part of life. Find and apply teachings that lift you, such as "step by step I will solve my problem. Its just a matter of time".  
			<br/>
			<strong> 3. Having Strong Relationships </strong>
			<br/>

 			Being around friends and family where there is mutual trust, understanding and will make you feel relaxed and postive. 
 			Your mother is someone who always wants you to be well. When dealing with complex problems, just thinking about your mother, knowing that she is great and is cheering you to solve your problems will make you view your problem positively.

		</div>
	</div>
</div>

<div style="background:#426f6f; color:#FFF;padding-left: 4%;padding-top: 2%;padding-bottom: 2%">
   	If you are in need of support, the Sleep Improvement Clinic can help you handle anxiety and develop stronger relationships starting with your mother.
</div>

<br/>
<div class="row">
	<div class="col-md-12">
		<div class="col-md-5">
       		<img src="images/7_min_workout.png" style="width:100%">  
		</div>
		<div class="col-md-7">
			<strong> Physical tiredness </strong> will help you stay asleep longer because when the whole body wants to rest the brain will take it as a signal to keep sleeping.


			You should select physical activities that workout your entire body and maintain your heart rate  for a consistent period of time.
			<br/>
			<br/>
			One of the most efficient ways to get the body tired is the <strong> 7 minute workout </strong>, a complete body workout. You can download the app and do it anywhere, anytime! 

			<strong> Be careful to avoid physical activities that don't tire you out. </strong>
		</div>
	</div>
</div>

<br/>
<div style="background:#426f6f; color:#FFF;padding-left: 4%;padding-top: 2%;padding-bottom: 2%">
Ensure that you feel exhausted before bedtime by assessing your energy levels during the day and adjusting your workout duration.
</div>