<form [formGroup]="sendTweetForm" (ngSubmit)="onSubmit()" class="send-tweet-form">
	
		<label>
			
			
			<input type="radio" formControlName="type" value="Reply">
			<span> Reply </span>

			
   			<input  style="margin-left:20px" type="radio" formControlName="type" value="Mention">
			<span> Mention </span>
   			 
  		</label>
  		<br/>

  		<label>
  			To: <span style="color:#2AF"> @{{ tweet.screen_name }} </span>
  		<br/>

  		</label>

  		<label> 
  			Tweet 
  			<br/>
			<textarea  formControlName="tweetText"  name="tweetText" class="mdl-textfield__input tweet-text-area" type="text" rows="5s" id="sample5"></textarea>


  		</label>


  		<br/>

			<button class="mdl-button mdl-button--primary send-tweet-btn"  style="float:right" type="submit"> 
				Send Tweet  
			</button>

			<button  class="mdl-button mdl-button--primary show-templates-btn"  style="float:right" (click)="show_tweet_templates = true"> 
		 						Templates 
		 	</button>

		 	<show-tweet-templates [tweetTemplates]="tweetTemplates" (selectedTweetTemplate)="selectedTweetTemplate($event)" *ngIf="show_tweet_templates"> </show-tweet-templates>

</form>

