<div id="miracles" class="desc">
		
	<p>
	
		<br/>
		<br/>
		<span style="text-decoration:underline"> <b> Cure from Eye Cancer </b> </span>
		<br/>
		<br/>
    		"I live in Maharashtra and my 4 year old daughter had a malignant tumor of the eye and the doctor said that if she was to be saved the eye had to be removed. I was ready to do the surgery and had even fixed the date. Through a friend I came to know about Amma Bhagavan and decided to visit Nemam and stayed there. Within 30 days  the tumor had dissolved and the surgery was not needed."
		</i>
		<br/>
		<br/>

		<b> <span style="text-decoration:underline"> Cure from Chronic Migraine</span> </b> 
		<br/>
		<br/>
		
			"I live in Chennai and for 20 years I had been suffering from severe migraine. I tried many doctors and medicines but nothing was able to permanently cure me. After visiting Nemam Amma Bhagavan my migraine stopped completely and have not visited a doctor since thanks to Amma Bhagavan"
		

		<br/>
	<p>		

</div>