<!--The content below is only a placeholder and can be replaced.-->
<div class="demo-layout-transparent mdl-layout mdl-js-layout">
    <header class="mdl-layout__header mdl-layout__header--transparent">
      <div class="mdl-layout__header-row" id="nav-bar">

        <!-- Title -->
        <span class="mdl-layout-title">TweetLeads</span>

        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>

        <!-- Navigation with router directives-->
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" [routerLink]="['/home']">Home</a>
          <a class="mdl-navigation__link" [routerLink]="['/twitter_search_streams']">Twitter Streams</a>
          <a class="mdl-navigation__link" [routerLink]="['/']">Notifications</a>
          <a  class="mdl-navigation__link" [routerLink]="['/']">
            <img class="img-responsive" style="height: 50px;width: 50px;border-radius: 50%;"src="{{defaultUser.profile_img_url}}">      {{defaultUser.name}}
          </a>

        </nav>
      </div>
    </header>
  </div>

  <!-- Router Outlet -->
  <router-outlet></router-outlet>

